<div class="post">
<!--
<h1><%= flash[:notice] %></h1>
-->
<h1><%= @file %></h1>
<p>
<table border="1" cellpadding="2" cellspacing="0">
  <tr>
    <th>line1</th>
    <th>line2</th>
  </tr>
<!--
<% @arr.each do |value| %>
  <tr>
    <td><%= value %></td>
  </tr>
<% end %>
-->
<% for i in 0..@row %>
  <tr>
  <% for j in 0..@column %>
    <td><%= @arr[i][j] %></td>
    <% j=j+1 %>
  <% end %>
  </tr>
  <% j=j+1 %>
<% end %>


</table>
</p>
<p>
<%= form_tag({:action => :execute}, :multipart => true) do %>
  <%= submit_tag('Execute') %>
<% end %>
</p>
</div>
